body {
  background-color: #f8f1f1;
}
.container {
  margin: 0 auto;
  display: block;
}
.weather-app {
  border: 1px solid #dadde1;
  width: 600px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  font-family: "Rajdhani", sans-serif;
  padding: 20px;
  background-color: #a3d2ca;
}
h1 {
  color: #eb5e0b;
  font-size: 40px;
  margin-bottom: 8px;
}
h3 {
  font-size: 15px;
  color: #413c69;
  text-align: center;
}
.weather-forecast-temp {
  font-size: 14px;
}
ul {
  margin: 0;
  padding: 0;
}
.col-4.details {
  margin-left: 30px;
  padding-left: 40px;
}
.current-weather {
  margin-left: 160px;
}
li {
  list-style: none;
  color: #23689b;
  font-size: 16px;
}
li:first-letter {
  text-transform: capitalize;
}
.fas {
  font-size: 25px;
  color: #878787;
}
.fa-sun {
  font-size: 60px;
}
h5 {
  padding-top: 20px;
  margin-left: 20px;
}
.five-day {
  padding: 6px;
  text-align: center;
  margin: 0;
}
.weather-forecast-temp {
  margin-top: 5px;
  text-align: center;
}
.five-day:hover {
  opacity: 0.6;
}
#github {
  text-align: center;
  font-size: 13px;
}
.measurement {
  text-decoration: none;
  cursor: pointer;
}
.current-weather .active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.current-weather .active:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #eb5e0b;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 90px;
}
strong {
  padding: 5px;
  text-decoration: solid;
  font-size: 16px;
}
